<div class="row justify-content-center align-items-center">
    <div class="col-lg-5 col-md-7 text-center mt-5">
  
      <!-- Fine Circle Responsive Image -->
      <div id="container" class="my-2">
        <div id="dummy"></div>
        <div id="element">
          <img src="{{ site.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
        </div>
      </div>
  
      <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
     <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.quote }}</p>
    </div>
  </div>